:root {
    /* Uncomment the code below and change the color schem if desired */
    /* --primary: rgba(43, 91, 186, 0.6);
    --light: rgb(255,255,255);
    --greyish: rgb(116 121 129 / 80%); */
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(26, 118, 136);
}

a {
    color: rgb(63, 63, 191);
}

.custom-resume {
    background-color:rgba(245, 237, 237, 0.3);
}

.custom-resume > div {
    min-height: 30rem;
}

.custom-text-cont:first-child {
    flex-basis: 40%;
}

.custom-text-cont:last-child {
    flex-basis: 60%;
}

.custom-text-cont h5 {
    color: rgb(63, 63, 191);
}

.custom-text-cont i {
    border: 1px solid rgb(63, 191, 191);
    border-radius: 50%;
    background-color: rgb(128, 255, 196);
    color: rgb(255,255,255);
    
}

.custom-profile > * {
    background-color: rgb(153,102,153);
}

.custom-profile > div:last-child span {
    flex-basis: 15%;
}

.custom-profile > :last-child {
    background-color: rgb(153,102,153);
}

.custom-city {
    color: rgb(63, 63, 191);
}

.custom-title {
    font-weight: 600;
}

.custom-title span {
    color: rgb(116 121 129 / 80%);
}

img + p > span {
    display: block;
}

/* Explain in comments below what the media queries are doing in regards to different screen sizes */

@media screen and (max-width: 992px){
    .custom-text-cont p {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 768px){
    .custom-resume > div > div:first-child {
        order: 2;
    }
    .custom-resume > div > div:last-child {
        order: 1;
    }
    .custom-resume > div > div:last-child span {
        flex-basis: 6%;
    }
}